title          Arch Linux LTS
linux          /vmlinuz-linux-lts
initrd         /intel-ucode.img
initrd         /initramfs-linux-lts.img
options        root=PARTUUID={{root_partuuid}} rw nomodeset rootflags=subvol=@