title          Arch Linux Zen
linux          /vmlinuz-linux-zen
initrd         /intel-ucode.img
initrd         /initramfs-linux-zen.img
options        root=PARTUUID={{root_partuuid}} rw nomodeset rootflags=subvol=@ psmouse.synaptics_intertouch=1
