# source https://salsa.debian.org/mika/physlock/blob/master/debian/local-physlock.service

# This service files serves as example for the integration of physlock
# in sleep/suspend/resume using systemd.

[Unit]
Description=Lock consoles using physlock
Before=sleep.target

[Service]
Type=forking
ExecStart=/usr/bin/physlock -ds
Restart=on-failure

[Install]
WantedBy=sleep.target
